header
  padding-top 100px
  .logo
    a, a:link, a:visited, a:active
      border-bottom none
    margin 0 auto
    text-align center
    .logo-icon
      font-size 60px
      color $mainColor1
      text-shadow $titleTextShadow
    .logo-img
      width 100px
      height 100px
      filter drop-shadow(0 0 6px rgba(215, 236, 255, 0.6))
    .title
      line-height 100px
      color $mainColor1
      font-family $fontTitle
      text-shadow $titleTextShadow